@tailwind base;
a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
  border-width: 0;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
* {
  box-sizing: border-box;
}
th, td {
  padding: 9px;
  border: 1px solid #333;
}
td {
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[data-rsbs-overlay] {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  background: #ffffff;
  flex-direction: column;
  height: auto;
  max-height: 500px;
  transform: translate3d(0, 10px, 0);
  will-change: height;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
[data-rsbs-overlay]:focus {
  outline: none;
}

[data-rsbs-is-blocking='false'] [data-rsbs-overlay] {
  box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 0.11),
  0 -1px 0 rgba(38, 89, 115, 0.05);
}
[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  z-index: 3;
  overscroll-behavior: none;
  touch-action: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
[data-rsbs-backdrop] {
  top: -60px;
  bottom: -60px;
  background-color: #000000;
  will-change: opacity;
  cursor: pointer;
  opacity: 0.5;
}
.selectPrefix__control {
  -webkit-box-align: center !important;
  align-items: center !important;
  cursor: default !important;
  display: flex !important;
  flex-wrap: wrap !important;
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
  min-height: 38px !important;
  position: relative !important;
  transition: all 100ms ease 0s !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
  appearance: none !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-image: initial !important;
  border-bottom: 2px solid rgb(222, 226, 230) !important;
  color: rgb(42, 48, 55) !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 6px 0px !important;
  outline: 0px !important;
}
.selectPrefix__value-container {
  padding: 0 !important;
}
.selectPrefix__indicator-separator {
  display: none !important;
}
.selectPrefix__menu {
  width: 99.6% !important;
  margin: 0 1px !important;
  position: relative !important;
  font-size: 16px !important;
  font-weight: 600;
}