.bodyStyle {
  line-height: 1.5;
  white-space: pre-wrap;
  margin: 2em auto;
  max-width: 900px;
  color: rgb(55, 53, 47);
}
.pageTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75em;
  text-align: left;
  color: #000;
  padding-bottom: 10px;
}
.textStyle {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 2;
}
.stepTitle {
  font-size: 24px;
  font-weight: 700;
  color: #2a3037;
  margin-top: 32px;
}
.joinTypeBtn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #2a3037;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 16px;
  transition: .2s;
  gap: 16px;
}
.joinTypeBtn2 {
  color: #2a3037;
  font-size: 18px;
  font-weight: 700;
}
.joinTypeBtn3 {
  color: #868e96;
  font-size: 14px;
  font-weight: 500;
}
.borderStyle {
  --tw-border-opacity: 1 !important;
  border-width: 1px!important;
  border-radius: 12px!important;
}
.checkBoxStyle {
  --tw-border-opacity: 1;
  border-color: rgb(86 111 238);
  background-color: rgb(86 111 238);
  border-radius: 4px;
  border-width: 1px;
  --tw-bg-opacity: 1;
}

.grayBtn {
  background-color: rgb(248 249 250);
  border-radius: 16px;
}
.btnTransition {
  transition-timing-function: cubic-bezier(.4,0,.2,1)!important;
  transition-duration: .15s!important;
}
.clickBtn {
  color: rgb(66 90 213);
  background-color: rgb(243 246 255);
}
.nextBtn {
  background-color: rgb(86, 111, 238);
  text-decoration: none;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.25;
  border: 1px solid rgb(86, 111, 238);
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  height: 56px;
  font-size: 16px;
  padding: 0px 16px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.nextBtn2 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.25;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  height: 44px;
  font-size: 16px;
  padding: 0px 16px;
  color: rgb(66, 90, 213);
  background-color: transparent;
  margin: auto !important;
  margin-top: 8px !important;
  -webkit-appearance: button;
}
.nextBtn2:not:disabled {
  cursor: pointer;
}
.nextBtn2:hover {
  background-color: rgb(248, 249, 251);
}
.nextBtn:disabled {
  color: rgb(255, 255, 255);
  background-color: rgb(174, 190, 255);
  border-color: rgb(174, 190, 255);
  cursor: not-allowed;
}
.listStyle::before {
  content: "·";
  position: absolute;
  display: inline-block;
  left: 28px;
  box-sizing: border-box;
}
.listStyle2 {
  counter-reset: count 0;
  padding: 0px;
}
.listStyle2 li {
  display: inline-flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.listStyle2 li:not(:last-child) {
  margin-bottom: 16px;
}
.listStyle2 li::before {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  text-align: center;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  padding-top: 2px;
  counter-increment: count 1;
  content: counter(count) "";
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: rgb(241, 243, 245);
}
.usimWarning {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 12px;
  padding: 12px 16px;
  white-space: pre-line;
  word-break: break-word;
  color: rgb(42, 48, 55);
  background-color: rgb(255, 245, 245);
}
.usimWarning svg {
  width: 20px;
  height: 20px;
  color: rgb(250, 82, 82);
}
.usimSubTitle {
  color: #868e96;
  font-weight: 500;
  font-size: .875rem;
}
.inputBox:hover {
  border-bottom: 2px solid rgb(120, 139, 219);
}
.inputBox {
  display: block;
  border: none;
  border-bottom: 2px solid #dee2e6;
  border-radius: 0;
  padding: 12px 8px 12px 0;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  color: #2a3037;
  transition: border .2s;
}
.inputBox:focus {
  outline: none;
}
.bottomSheetStyle {
  padding: 26px 24px 16px 24px;
}
.bottomSheetList {
  padding: 12px 0;
  color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hipen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #868e96;
}
.addressSearch {
  width: 120px;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.25;
  border: 1px solid rgb(243, 246, 255);
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
  font-size: 14px;
  padding: 0px 14px;
  color: rgb(66, 90, 213);
  background-color: rgb(243, 246, 255);
  font-weight: 700;
}
.positionFixed {
  position: fixed;
  left: 0;
  right: 0;
  background: #ffff;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
.howToGetUsimBtn {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(241, 243, 245);
  padding: 16px;
  box-shadow: rgb(73 80 87 / 6%) 0px 2px 8px 0px;
  text-align: left;
  transition: border 0.3s ease 0s;
  -webkit-appearance: button;
  text-transform: none;
}
.howToGetUsimBtnActive {
  border: 1px solid rgb(86, 111, 238);
}
.howToGetUsimBtnActive2 {
  background: rgb(243, 246, 255) !important;
}
.howToGetUsimBtnInDiv {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(248, 249, 250);
  border-radius: 8px;
  transition: background 0.3s ease 0s;
}
.howToGetUsimBtnContentBox {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  gap: 8px;
  flex-flow: column wrap;
}
.howToGetUsimBtnContent1 {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgb(42, 48, 55);
}
.howToGetUsimBtnContent2 {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgb(42, 48, 55);
}
.howToGetUsimBtnContent3 {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: rgb(73, 80, 87);
}
.s4EsimRadioWrapper {
  position: relative;
  height: 42px;
  background: rgb(241, 243, 245);
  border-radius: 12px;
  padding: 4px;
  display: flex;
  gap: 4px;
}
.s4EsimRadioWrapperInDiv {
  position: absolute;
  left: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  height: 34px;
  background: rgb(255, 255, 255);
  transition: transform 0.3s ease 0s;
}
.s4EsimRadioOn {
  width: calc(50% - 6px);
  left: 4px;
  transform: translate(calc(0% + 0px), 0px);
}
.s4EsimRadioOff {
  width: calc(50% - 6px);
  left: 4px;
  transform: translate(calc(100% + 4px), 0px);
}
.s4EsimRadio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 4px;
}
.s4EsimRadio > button {
  width: 100%;
  color: rgb(42, 48, 55);
  font-size: 0.875rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-appearance: button;
}
.howToCheck {
  font-size: 1.125rem;
  font-weight: 700;
  color: rgb(42, 48, 55);
  margin-bottom: 26px;
}
.howToCheckSub {
  text-align: left;
  color: rgb(42, 48, 55);
  font-size: 1rem;
  line-height: 1.5;
  margin: 26px 0px 24px;
  width: 100%;
}
.howToCheckSub > span {
  display: inline-block;
  vertical-align: middle;
}
.tooltip {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 48, 55);
  border-radius: 12px;
  margin-right: 16px;
  padding: 12px 16px;
  word-break: keep-all;
  position: absolute;
  inset: auto auto 0 0;
  transform: translate(110px, );
  opacity: 1;
}
.tooltipArrow {
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 11px;
  bottom: -4px;
  left: 0px;
  transform: translate(71px, 0px);
}
.tooltipArrow:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: rgb(42, 48, 55);
  border-radius: 2px;
  transform: rotate(45deg);
  border-top-color: #2a3037!important;
}
.juminWaring {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 12px;
  padding: 12px 16px;
  white-space: pre-line;
  word-break: break-word;
  background-color: rgb(255, 245, 245);
}
.juminWaring svg {
  width: 20px;
  height: 20px;
  color: rgb(250, 82, 82);
}